# Database
DATABASE_URL="postgresql://postgres:password@localhost:5432/saas_template"

# Auth.js
AUTH_SECRET="your-auth-secret-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Application
NODE_ENV="development"
